<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="manifest" href="{{url_for('static', filename='manifest.webmanifest')}}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>Chain App Dev - App Landing Page HTML5 Template</title>
    
    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">

<!--

TemplateMo 570 Chain App Dev

https://templatemo.com/tm-570-chain-app-dev

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/templatemo-chain-app-dev.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/animated.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/owl.css')}}">
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.8.2/firebase-auth.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />
    <style>
      body,html{
        width: 100%;
        overflow-x: hidden;
        min-height: 100vh;
      }
      #Profile{
        display: none;
      }
      #logout{
        display: none;
      }
    
    </style>
    <script type="text/javascript">
        function get_user_url(base) {
          firebase.auth().onAuthStateChanged(function (user) {
              if (user) {
                  window.location.href = '/' + base+ '/' + user.uid;
              }}
          )
      }
      </script>
  </head>

  <body>
    
   <!-- ***** Preloader Start ***** -->
   <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Logo Start ***** -->
            <a href="/" class="logo">
              <img src="{{url_for('static', filename='images/logo.png')}}" height = 80 width = 80 alt="Chain App Dev">
            </a>
            <!-- ***** Logo End ***** -->
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="/">Home</a></li>
              
              <li class="scroll-to-section"><a href="/game">FinGame</a></li>
              <li class="scroll-to-section"><a href="/invest">Invest</a></li>
              <li class="scroll-to-section"><a class='nft' onclick="get_user_url('nft_menu')" style="cursor:pointer;">NFTs</a></li>
              <li class="scroll-to-section" id="profile"><a>Profile</a> </li>
              <li class="scroll-to-section" id='logout' >
                        <a>Logout</a>
              </li>
              <li class="scroll-to-section" id="google" style="margin-top: -2%;"><div id="firebaseui-auth-container"></div></li>

            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>


    {% block content %}{% endblock %}
  <footer id="newsletter"></footer>
    
    
      <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
      <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}"></script>
      <script src="{{url_for('static', filename='js/owl-carousel.js')}}"></script>
      <script src="{{url_for('static', filename='js/animation.js')}}"></script>
      <script src="{{url_for('static', filename='js/imagesloaded.js')}}"></script>
      <script src="{{url_for('static', filename='js/popup.js')}}"></script>
      <script src="{{url_for('static', filename='js/custom.js')}}"></script>
      <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-app.js"></script>
      <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-auth.js"></script>

      <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-analytics.js"></script>
      <script src="https://www.gstatic.com/firebasejs/8.2.3/firebase-firestore.js"></script>
      <script src="{{url_for('static', filename='js/fireBase.js')}}"></script>
      <script src="{{url_for('static', filename='js/login.js')}}"></script>
      <script src="{{url_for('static', filename='js/remove_login.js')}}"></script>
      <script src="{{url_for('static', filename='js/pwa.js')}}"></script>
      
    </body>
</html>