{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-lg-8 offset-lg-2">
      <div class="section-heading">
        <br><br><br><br><br><br><br><br><h1>Congratulations for completing all the courses!<br> <br><br>You can visit <a href='/nft_menu'>NFT Menu</a> to purchase nfts with your FEX coins</h1><br><br>
      </div>
    </div>
    </div>
    
      <script src="../static/confetti.js"></script>
    <!-- Confetti  JS-->
    <script>

        // start

        const start = () => {
            setTimeout(function() {
                confetti.start()
            }, 1000); // 1000 is time that after 1 second start the confetti ( 1000 = 1 sec)
        };

        //  Stop

        const stop = () => {
            setTimeout(function() {
                confetti.stop()
            }, 5000); // 5000 is time that after 5 second stop the confetti ( 5000 = 5 sec)
        };

        start();
        stop();
    </script>
{% endblock %}