{% extends "base.html" %}

{% block content %}
<script type="text/javascript">
  function get_user_url(base) {
    firebase.auth().onAuthStateChanged(function (user) {
        if (user) {
            window.location.href = '/' + base + '/' + user.uid;
        }}
    )
}
</script>
    <div class="container" style="margin-top:10%"> 
      <div class="row">
        <div class="col-lg-3">
          <div class="service-item first-service">
            <div class="icon"></div>
            <h4>Tasks! </h4>
            <p>Click on the link to see your next task!</p>
            <br>
            <div class="text-button">
              <a class='task' onclick='get_user_url("tasks")' style="cursor:pointer;">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item second-service">
            <div class="icon"></div>
            <h4>Invest!</h4>
            <p>Use your in-game currency to invest!</p>
            <br>

            <div class="text-button">
              <a href="/invest">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item third-service">
            <div class="icon"></div>
            <h4>NFTs!</h4>
            <p>Buy yourself a piece of intellectual property with in-game currency!</p>
            <div class="text-button">
              <a class='nft' onclick="get_user_url('nft_menu')" style="cursor:pointer;">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item fourth-service">
            <div class="icon"></div>
            <h4>View Blockchain!</h4>
            <p>View your transfactions on the blockchain!</p>
            <div class="text-button">
              <a href="/see_blockchain">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}