{% extends "base.html" %}

{% block content %}

  <br><br><br><br><br><br>
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="service-item first-service">
            <div class="icon"></div>
            <h4>Tasks! </h4>
            <p>Click on the link to see your next task!</p>
            <div class="text-button">
              <a href="/tasks">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item second-service">
            <div class="icon"></div>
            <h4>Invest!</h4>
            <p>Use your in-game currency to invest!</p>
            <div class="text-button">
              <a href="invest.html">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item third-service">
            <div class="icon"></div>
            <h4>NFTs!</h4>
            <p>Buy yourself a piece of intellectual property with in-game currency!</p>
            <div class="text-button">
              <a href="nft.html">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="service-item fourth-service">
            <div class="icon"></div>
            <h4>24/7 Help &amp; Support</h4>
            <p>A support form available for any issues that may arise!</p>
            <div class="text-button">
              <a href="/support">Read More <i class="fa fa-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}