{% extends "base.html" %}

{% block content %}
    <!-- Bootstrap Styles-->
    <link href="{{url_for('static', filename='css/bootstrap.css')}}" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="{{url_for('static', filename='css/font-awesome.css')}}" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="{{url_for('static', filename='css/morris-0.4.3.min.css')}}" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="{{url_for('static', filename='css/custom-styles.css')}}" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link href='../static/input/style.css' rel='stylesheet' type='text/css' />

    <style scoped>
        footer{
           display: none;
        }
        #wrapper{
            height: 100%;
            overflow-y: none;
        }

/* CSS */
.button-54 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}
    </style>
    <div id="wrapper">

        <div id="page-wrapper">
            <div id="page-inner" style="margin: 0px;">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="page-header">
                            Purchase and sell stocks 
                        </h1>
                    </div>
                </div>
                <!-- /. ROW  -->
                <div class="card">
                    <h2>Stock Control</h2><br><br>
                    <label class="input">
                      <input class="input__field" type="text" placeholder=" "  id="stock"/>
                      <span class="input__label">Stock Ticker</span>
                    </label>
                    <br><br>
                    <label class="input">
                      <input class="input__field" type="text" placeholder=" " id="quantity" />
                      <span class="input__label">Quantity</span>
                    </label>
                    <br>
                    <div class="button-group">
                      <button onclick="check_price()">Get Stock Price</button>
                      <button onclick="sell_stock()">Sell Stock</button>
                      <button onclick="buy_stock()">Buy Stock</button>
                    </div>
                  </div>
                    

<br><br><br><br>
 
                <!-- /. ROW  -->

                <div class="row">
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Stock Market News
                            </div>
                            <div class="panel-body">
                                <div class="list-group">

                                    <a href="https://www.theguardian.com/business/2022/feb/25/global-markets-surge-as-concerns-ease-over-effect-of-sanctions-on-the-west
                                    " class="list-group-item">
                                        Global Markets surge as concerns ease over sanctions on the west
                                    </a>
                                    <a href="https://www.bloomberg.com/news/articles/2022-02-24/russian-stocks-slump-most-on-record-on-ukraine-attack-chart
                                    " class="list-group-item">
                                       
                                         Russian stocks slump most on record on Ukraine attack chart
                                    </a>
                                    <a href="https://markets.businessinsider.com/news/stocks/stock-market-short-sellers-doj-investigation-mafia-law-rico-racketeering-2022-2" class="list-group-item">
                                        
                                        Stock Market short sellers investigated by DOJ
                                    </a>
                                    <a href="https://www.marketwatch.com/story/bullish-engulfing-chart-patterns-abound-after-stock-markets-big-bounce-11645820723 " class="list-group-item">
                                        
                                        ‘Bullish engulfing’ chart patterns abound after stock market’s big bounce
                                    </a>
                                    <a href="https://www.forbes.com/sites/greatspeculations/2022/02/25/uber-stock-has-a-lot-going-for-it-buy-the-dip/?sh=41aad1397432" class="list-group-item">
                                        
                                        Uber Stock Has A Lot Going For It. Buy The Dip?
                                    </a>
                                    <a href="https://www.marketwatch.com/story/intel-corp-stock-rises-friday-still-underperforms-market-01645826413-3af8977bba73" class="list-group-item">
                                        
                                        Intel Corp. stock rises Friday, still underperforms market
                                    </a>
                                </div>
        
                            </div>
                        </div>

                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Common stock symbols
                            </div> 
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th>S No.</th>
                                                <th>Stock</th>
                                                <th>Symbol</th>
                                                <th>Logo</th>
                                                <th>Performance of stock.</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Amazon.com</td>
                                                <td>AMZN</td>
                                                
                                                <td>+48.61 $</p></td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>Lockheed Martin</td>
                                                <td>LMT</td>
                                                
                                                <td>+13.78 $</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Microsoft Corporation</td>
                                                <td>MSFT</td>
                                                
                                                <td>+2.72 $</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Apple Inc</td>
                                                <td>Aapl</td>
                                                
                                                <td>+2.11 $</td>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                                <td>Procter & Gamble Co.</td>
                                                <td>PG</td>
                                                
                                                <td>+6.48 $</td>
                                            </tr>
                                            <tr>
                                                <td>6</td>
                                                <td>NVIDIA Corporation</td> 
                                                <td>NVDA</td>
                                                
                                                <td>+4.09 $</td>
                                            </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /. ROW  -->
            </div>
            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
    <!-- Bootstrap Js -->
    <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
    <!-- Morris Chart Js -->
    <script src="{{url_for('static', filename='js/raphael-2.1.0.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/morris.js')}}"></script>
    <!-- Custom Js -->
    <script src="{{url_for('static', filename='js/custom-scripts.js')}}"></script>

{% endblock %} 