{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div class="section-heading">
      <br><br><br><br><br><h4>Support form! </h4><br><br>
    </div>
  </div>
  <div class="col-lg-6 offset-lg-3">
    <form id="search" action="#" method="GET">
      <div class="row">
        <div class="col-lg-6 col-sm-6">
          <fieldset>
            <input type="address" name="address" class="email" placeholder="Email Address..." autocomplete="on" required>
            <textarea id = "response" name = "response" class = "response" placeholder = "Text Here" required>  </textarea>
        </fieldset>
        </div>

        <div class="col-lg-6 col-sm-6">
          <fieldset>
            <button type="submit"> Submit <i class="fa fa-angle-right"></i></button>
          </fieldset>
        </div>
      </div>
    </form>
  </div>
  </div>
{% endblock %}