{% extends "base.html" %}

{% block content %}
<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <div class="section-heading">
      <br><br><br><br><br><h1>{{course[1:].title()}} </h1><br><br>
    </div>
  </div>
  <div class = "col-lg-8 offset-lg-2">
      <div class = "text-heading">
        {{desc}}
      </div>
  </div>

<center><button onclick = "complete_course('{{course}}');" name = "btn"> Finish Course! </button></center>
</div>
<script src="{{url_for('static', filename='js/course.js')}}"></script>
{% endblock %}